<footer
  class="relative z-50 flex justify-center bg-redis-ink-900 px-0 py-10 text-gray-300 border-t border-t-white border-opacity-30 text-[13px] font-sans">
  <div class="flex w-full max-w-7xl flex-col gap-6 px-4 md:flex-row lg:px-8">
    <div class="flex flex-col gap-8 md:max-w-[40%] md:flex-[40%]">
      <a class="relative hover:text-white w-[82px] mb-4" href='{{ "/" | relURL }}'>
        {{ partial "icons/logo-script.html" }}
      </a>
      <div class="flex flex-col justify-between mt-8 lg:mt-0 lg:mr-8 gap-8">
        {{/*
        <div class="flex flex-row gap-2 items-center"><span>Language</span><span>{{ partial "icons/caret.html" }}</span>
        </div>
        */}}
        <div class="flex flex-row gap-5 order-first">
          <a class="hover:text-white" href="https://www.facebook.com/Redisinc" data-external-link="footer-social-facebook">
            {{ partial "icons/Facebook.html" }}
          </a>
          <a class="hover:text-white" href="https://www.youtube.com/c/redisinc" data-external-link="footer-social-youtube">
            {{ partial "icons/Youtube.html" }}
          </a>
          <a class="hover:text-white" href="https://www.linkedin.com/company/redisinc/" data-external-link="footer-social-linkedin">
            {{ partial "icons/LinkedIn.html" }}
          </a>
          <a class="hover:text-white" href="https://www.instagram.com/redisinc/" data-external-link="footer-social-instagram">
            {{ partial "icons/Instagram.html" }}
          </a>
          <a class="hover:text-white" href="https://twitter.com/Redisinc" data-external-link="footer-social-twitter">
            {{ partial "icons/X.html" }}
          </a>
          <a class="hover:text-white" href="https://github.com/redis/" data-external-link="footer-social-github">
            {{ partial "icons/Github.html" }}
          </a>
        </div>
      </div>
      <div class="hidden flex-row flex-wrap gap-x-6 gap-y-2 md:flex">
        <a class="hover:text-white" href="https://trust.redis.io/" data-external-link="footer-legal-trust">Trust</a>
        <a class="hover:text-white" href="https://redis.io/legal/privacy-policy/" data-external-link="footer-legal-privacy">Privacy</a>
        <a class="hover:text-white" href="https://redis.io/legal/redis-website-terms-of-use/" data-external-link="footer-legal-terms">Terms of use</a>
        <a class="hover:text-white" href="https://redis.io/legal/" data-external-link="footer-legal-notices">Legal notices</a>
      </div>
    </div>
    <div class="flex flex-col gap-8 md:grid md:max-w-[60%] md:flex-[60%] md:grid-cols-4 md:justify-between">
      <div>
        <h3 class="font-medium text-base uppercase text-white">Compare</h3>
        <div class="flex flex-col gap-2 pt-3">
          <a class="hover:text-white" href="https://redis.io/compare/elasticache/" data-external-link="footer-compare-elasticache">Redis vs Elasticache</a>
          <a class="hover:text-white" href="https://redis.io/compare/memcached/" data-external-link="footer-compare-memcached">Redis vs Memcached</a>
          <a class="hover:text-white" href="https://redis.io/compare/memorystore/" data-external-link="footer-compare-memory-store">Redis vs Memory Store</a>
          <a class="hover:text-white" href="https://redis.io/compare/open-source" data-external-link="footer-compare-open-source">Redis vs. Open Source</a>
        </div>
      </div>
      <div>
        <h3 class="font-medium text-base uppercase text-white">Company</h3>
        <div class="flex flex-col gap-2 pt-3">
          <a class="hover:text-white" href="https://redis.io/company/" data-external-link="footer-company-mission">Mission &amp; values</a><a
            class="hover:text-white" href="https://redis.io/company/team/" data-external-link="footer-company-leadership">Leadership</a>
          <a class="hover:text-white" href="https://redis.io/careers/" data-external-link="footer-company-careers">Careers</a>
        </div>
      </div>
      <div>
        <h3 class="font-medium text-base uppercase text-white">Partners</h3>
        <div class="flex flex-col gap-2 pt-3">
          <a class="hover:text-white" href="https://redis.io/cloud-partners/aws/" data-external-link="footer-cloud-partners-aws">Amazon Web Services</a>
          <a class="hover:text-white" href="https://redis.io/cloud-partners/google/" data-external-link="footer-cloud-partners-google">Google Cloud</a>
          <a class="hover:text-white" href="https://redis.io/cloud-partners/azure/" data-external-link="footer-cloud-partners-azure">Microsoft Azure</a>
          <a class="hover:text-white" href="https://redis.io/partners/" data-external-link="footer-cloud-partners-all">All partners</a>
        </div>
      </div>
      <div>
        <h3 class="font-medium text-base uppercase text-white">Support</h3>
        <div class="flex flex-col gap-2 pt-3">
          <a class="hover:text-white" href="https://redis.io/services/professional-services/" data-external-link="footer-services-professional">Professional
            services</a><a class="hover:text-white" href="https://redis.io/support/" data-external-link="footer-services-support">Support</a>
        </div>
      </div>
    </div>
    <div class="absolute bottom-0 left-0 flex w-full flex-row gap-8 p-4 md:hidden">
      <a class="hover:text-white" href="https://trust.redis.io/" data-external-link="footer-legal-trust">Trust</a>
      <a class="hover:text-white" href="https://redis.io/legal/privacy-policy/" data-external-link="footer-legal-privacy">Privacy</a>
      <a class="hover:text-white" href="https://redis.io/legal/redis-website-terms-of-use/" data-external-link="footer-legal-terms">Terms of use</a>
      <a class="hover:text-white" href="https://redis.io/legal/" data-external-link="footer-legal-notices">Legal notices</a>
    </div>
  </div>
</footer>